%footer.footer
	%footer#footer-page
		.join-us
			%i Nous joindre
			%i.number contact@depannologue.fr
		.social
			= link_to "https://www.facebook.com/Depannologue-543890775761560/" do
				%i.fb.icon-facebook-f
			= link_to "https://twitter.com/depannologue" do
				%i.tw.icon-twitter
			= link_to "https://plus.google.com/104130818781075453057/about "  do
				%i.gp.icon-google-plus
		.legals
			%i
				= link_to "Depannologue - Conditions Générales d'Utilisation", "/cgu"
			%i
				= link_to "Depannologue - Mentions légales", "/mentions-legales"

			%p EURL DEPANNOLOGUE Société au captital de 8000€, inscrit au RCS de Lille 815 340 815 00019 - Euratechnologies LILLE
