<footer class='footer'>
  <footer id='footer-page'>
    <div class='join-us'>
      <i>Nous joindre</i>
      <i class='number'>contact@depannologue.fr</i>
    </div>
    <div class='social'>
      <%= link_to "https://www.facebook.com/Depannologue-543890775761560/" do
				<i> class="fb icon-facebook-f" </i> %>
			<%= link_to "https://twitter.com/depannologue" do
				<i> class="tw icon-twitter" </i> %>
			<%= link_to "https://plus.google.com/104130818781075453057/about "  do
				<i> class="gp icon-google-plus" </i> %>
    </div>
    <div class='legals'>
      <i>
				<%= link_to "Depannologue - Conditions Générales d'Utilisation", "/cgu" %>
      </i>
      <i>
				<%= link_to "Depannologue - Mentions légales", "/mentions-legales" %>
      </i>
      <p>EURL DEPANNOLOGUE Société au captital de 8000€, inscrit au RCS de Lille 815 340 815 00019 - Euratechnologies LILLE</p>
    </div>
  </footer>
</footer>
