<% content_for :page_title do %>

<style>
#content {
  overflow: hidden;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #999999;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
  <div class="row">
    <h1>DashBoard</h1>
  </div>



  <div class="row" style="margin:5px" data-equalizer="RecentInfoCards">
    <div class="col-md-12 col-lg-5 dashboard-card" data-equalizer-watch="RecentInfoCards">
      <div class="row card-header">
        <div class="title">Nombre d'interventions d'aujourd'hui</div>
      </div>
      <center><h1 style="font-size:60px"><%=@dashboard_presenter.today_s_number_of_interventions %></h1></center>
    </div>

    <div class="col-md-1  visible-md-up">
    </div>

    <div class="col-md-12 col-lg-5 dashboard-card" data-equalizer-watch="RecentInfoCards">
      <div class="row card-header">
        <div class="title">Nombre d'interventions du mois</div>
      </div>
      <center><h1 style="font-size:60px"><%=@dashboard_presenter.month_s_number_of_interventions %></h1></center>
    </div>

    <div class="col-md-12 col-lg-5 dashboard-card" data-equalizer-watch="RecentInfoCards">
      <div class="row card-header">
        <div class="title">Chiffre d'affaires d'aujourd'hui</div>
      </div>
      <center><h1 style="font-size:60px"><%=@dashboard_presenter.today_s_revenues %>€</h1></center>
    </div>



    <div class="col-md-1  visible-md-up">
    </div>
    <div class="col-md-12 col-lg-5 dashboard-card" data-equalizer-watch="RecentInfoCards">
      <div class="row card-header">
        <div class="title">Chiffre d'affaires du mois</div>
      </div>
      <center><h1 style="font-size:60px"><%=@dashboard_presenter.month_s_revenues %>€</h1></center>
    </div>
  </div>
  <div class="row" style="margin:5px" data-equalizer="foo">

    <div class="col-md-12 col-lg-5 dashboard-card" data-equalizer-watch="foo"  >
      <div class="row card-header">
        <div class="title">Chiffre d'affaires</div>
      </div>
      <table >
        <thead>
           <tr>
             <th>Profession</th>
             <th>Nb interv</th>
             <th>Chiffre d'affaires</th>
             <th>CA moyen</th>
           </tr>
        </thead>
        <tbody>
          <% @professions_revenues.each do |profession_revenues| %>
            <tr>
              <td><%=profession_revenues[:name]%></td>
              <td><%=profession_revenues[:nb_interventions]%></td>
              <td><%= '%.2f' % profession_revenues[:revenues]%>€</td>
              <td><%= '%.2f' % profession_revenues[:average_revenue]%>€</td>
            </tr>
          <%end%>
          <tr>
            <td>Total :</td>
            <td><%= @dashboard_presenter.total_number_of_interventions %></td>
            <td><%= '%.2f' % @dashboard_presenter.total_revenues %>€</td>
            <td><%= '%.2f' % @dashboard_presenter.total_average_per_intervention %>€</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1  visible-md-up">
    </div>
    <div class="col-md-12 col-lg-5 dashboard-card" data-equalizer-watch="foo">
      <div class="row card-header">
        <div class="title">Pourcentage de CA par profession</div>
      </div>
      <div class="ct-chart ct-perfect-fourth chartist-pie-chart" id="revenue_percentage_chart"></div>
    </div>
    <div class="col-md-12 col-lg-5 dashboard-card">
      <div class="row card-header">
        <div class="title">Nombre d'interventions par profession</div>
      </div>
      <div class="ct-chart ct-perfect-fourth chartist-bar-chart" id="number_of_intervention_by_profession_chart"></div>
    </div>
    <div class="col-md-1  visible-md-up">
    </div>
    <div class="col-md-12 col-lg-12 dashboard-card">
      <div class="row card-header">
        <div class="title">Nombre d'interventions au fil du temps</div>
      </div>
      <div class="ct-chart chartist-line-chart" id="interventions_among_time_chart"></div>
    </div>
  </div>
  <%= javascript_tag "professions_revenues = #{@professions_revenues.to_json.html_safe};" %>
  <%= javascript_tag "interventions_among_time = #{@interventions_among_time.to_json.html_safe};" %>
  <%= javascript_tag "total_revenues = #{@dashboard_presenter.total_revenues.to_json.html_safe};" %>
  <script>

  // var myData = interventions_among_time;

  var myData = interventions_among_time.map(function(stat){
    stat.date = new Date(stat.date);
    return stat;
  });


  MG.data_graphic({
    title: "Interventions au fil du temps",
    data: myData,
    interpolate: d3.curveLinear,
    right: 40,
    height: 600,
    full_width: true,
    target: '#interventions_among_time_chart'
  });



    var mylabels = [];
  var mySeries = [];

  for (var profession in professions_revenues) {
    if (professions_revenues[profession].revenues>0){
      var percentage = Math.round((((professions_revenues[profession].revenues*100)/total_revenues)*100))/100;
      mylabels.push(professions_revenues[profession].name+' - ' +String(percentage) +'%');
      mySeries.push(professions_revenues[profession].revenues);
    }
  }

  var data = {
    labels: mylabels,
    series: mySeries
  };

  var options = {
    labelInterpolationFnc: function(value) {
      return value[0]+value[1]+value[2]+value[3]
    }

  };

  var responsiveOptions = [
    ['screen and (min-width: 640px)', {
      chartPadding: 30,
      labelOffset: 0,
      labelDirection: 'explode',
      labelInterpolationFnc: function(value) {
        return value;
      }
    }],
    ['screen and (min-width: 1024px)', {
      labelOffset: 0,
      chartPadding: 30
    }]
  ];

  new Chartist.Pie('#revenue_percentage_chart', data, options, responsiveOptions);




  var mylabels2 = [];
  var mySeries2 = [];

  for (var profession in professions_revenues) {
    mylabels2.push(professions_revenues[profession].name);
    mySeries2.push(professions_revenues[profession].nb_interventions);
  }

  new Chartist.Bar('#number_of_intervention_by_profession_chart', {
    labels: mylabels2,
    series: mySeries2
  }, {
    distributeSeries: true,
    horizontalBars: true,
    axisY: {
      offset: 100,
    }
  });

  </script>
<% end %>
