<% content_for :page_title do %>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #999999;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

  <div class="row expanded" style ="padding:10px">
    <div class="col-md-6">
      <h1>DashBoard</h1>
      <h2>Chiffre d'affaires</h2>
      <table style="width:100%">
        <thead>
           <tr>
             <th>Profession</th>
             <th>Nombre d'intervention</th>
             <th>Chiffre d'affaires</th>
             <th>CA moyen</th>
           </tr>
        </thead>
        <tbody>
          <% @professions_revenues.each do |profession_revenues| %>
            <tr>
              <td><%=profession_revenues[0]%></td>
              <td><%=profession_revenues[1]%></td>
              <td><%='%.2f' % profession_revenues[2]%>€</td>
              <td><%='%.2f' % profession_revenues[3]%>€</td>
            </tr>
          <%end%>
          <tr>
            <td>Total :</td>
            <td><%= @total_number_of_interventions %></td>
            <td><%= '%.2f' % @total_revenues %>€</td>
            <td><%= '%.2f' % @total_average_per_intervention %>€</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
