<% content_for :page_title do %>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #999999;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
  <div class="row">
    <h1>DashBoard</h1>
  </div>
  <div class="row" style="margin:5px" data-equalizer="foo">
    <div class="col-md-12 col-lg-5 dashboard-card" data-equalizer-watch="foo"  >
      <div class="row card-header">
        <div class="title">Chiffre d'affaire</div>
      </div>
      <table style="width:100%">
        <thead>
           <tr>
             <th>Profession</th>
             <th>Nombre d'intervention</th>
             <th>Chiffre d'affaires</th>
             <th>CA moyen</th>
           </tr>
        </thead>
        <tbody>
          <% @professions_revenues.each do |profession_revenues| %>
            <tr>
              <td><%=profession_revenues[0]%></td>
              <td><%=profession_revenues[1]%></td>
              <td><%= '%.2f' % profession_revenues[2]%>€</td>
              <td><%= '%.2f' % profession_revenues[3]%>€</td>
            </tr>
          <%end%>
          <tr>
            <td>Total :</td>
            <td><%= @total_number_of_interventions %></td>
            <td><%= '%.2f' % @total_revenues %>€</td>
            <td><%= '%.2f' % @total_average_per_intervention %>€</td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="col-md-1  visible-md-up">
    </div>
    <div class="col-md-12 col-lg-5 dashboard-card" data-equalizer-watch="foo">
      <div class="row card-header">
        <div class="title">Pourcentage de CA par profession</div>
      </div>
      <div class="ct-chart ct-perfect-fourth chartist-pie-chart" id="chart1"></div>
    </div>
    </div>
      <div class="col-md-1">
    </div>
  </div>
  <%= javascript_tag "professions_revenues = #{@professions_revenues.to_json.html_safe};" %>
  <%= javascript_tag "total_revenues = #{@total_revenues.to_json.html_safe};" %>
  <script>
  var mylabels = [];
  var mySeries = [];

  for (var i = 0, len = professions_revenues.length; i < len; i++) {
    if (professions_revenues[i][1]>0){
      var percentage = Math.round((((professions_revenues[i][2]*100)/total_revenues)*100))/100;
      mylabels.push(professions_revenues[i][0]+' - ' +String(percentage) +'%');
      mySeries.push(professions_revenues[i][1]);
    }
  }

  var data = {
    labels: mylabels,
    series: mySeries
  };

  var options = {
    labelInterpolationFnc: function(value) {
      return "test"
    }
  };

  var responsiveOptions = [
    ['screen and (min-width: 640px)', {
      chartPadding: 30,
      labelOffset: 0,
      labelDirection: 'explode',
      labelInterpolationFnc: function(value) {
        return value;
      }
    }],
    ['screen and (min-width: 1024px)', {
      labelOffset: 0,
      chartPadding: 30
    }]
  ];

  new Chartist.Pie('#chart1', data, options, responsiveOptions);
  </script>
<% end %>
