<div class='container' id='workflow'>
  <section id='form-localize'></section>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 col-xs-12'>
      <div class='step-head'></div>
      <p>
      <h2>Remplissez vos coordonnées et obtenez le prix fixe de votre dépannage</h2>

      <%= form_for @user_informations_form, url: intervention_form_create_path do |user_informations_form| %>
        <fieldset>

          <div class="form-group">
            <%= user_informations_form.label :firstname, :class => "control-label" %>
            <%= user_informations_form.text_field :firstname, :class => "input-xlarge form-control", :'aria-describedby' => "helpBlock2" %>
            <span id="helpBlock2" style="text-align:left" style="text-align:left" class="help-block error"><%= @user_informations_form.errors[:firstname][0] %></span>
          </div>

          <div class="control-group">
            <%= user_informations_form.label :lastname, :class => "control-label" %>
            <%= user_informations_form.text_field :lastname, :class => "input-xlarge form-control" %>
            <span id="helpBlock3" style="text-align:left" class="help-block error"><%= @user_informations_form.errors[:lastname][0] %></span>
          </div>

          <div class="control-group">
            <%= user_informations_form.label :address1, :class => "control-label" %>
            <%= user_informations_form.text_field :address1, :class => "input-xlarge form-control" %>
            <span id="helpBlock3" style="text-align:left" class="help-block error"><%= @user_informations_form.errors[:address1][0] %></span>
          </div>

          <div class="control-group">
            <%= user_informations_form.label :address2, :class => "control-label" %>
            <%= user_informations_form.text_field :address2, :class => "input-xlarge form-control" %>
            <span id="helpBlock3" style="text-align:left" class="help-block error"><%= @user_informations_form.errors[:address2][0] %></span>
          </div>

          <div class="control-group">
            <%= user_informations_form.label :zipcode, :class => "control-label" %>
            <%= user_informations_form.text_field :zipcode, :class => "input-xlarge form-control" %>
            <span id="helpBlock3" style="text-align:left" class="help-block error"><%= @user_informations_form.errors[:zipcode][0] %></span>
          </div>

          <div class="control-group">
            <%= user_informations_form.label :city, :class => "control-label" %>
            <%= user_informations_form.text_field :city, :class => "input-xlarge form-control" %>
            <span id="helpBlock3" style="text-align:left" class="help-block error"><%= @user_informations_form.errors[:city][0] %></span>
          </div>

          <div class="control-group">
            <%= user_informations_form.label :phone_number, :class => "control-label" %>
            <%= user_informations_form.text_field :phone_number, :class => "input-xlarge form-control" %>
            <span id="helpBlock3" style="text-align:left" class="help-block error"><%= @user_informations_form.errors[:phone_number][0] %></span>
          </div>

          <div class="control-group">
            <%= user_informations_form.label :email, :class => "control-label" %>
            <%= user_informations_form.text_field :email, :class => "input-xlarge form-control" %>
            <span id="helpBlock3" style="text-align:left" class="help-block error"><%= @user_informations_form.errors[:email][0] %></span>
          </div>

          <div class="field">
              <%= user_informations_form.label "Intervention immediate" %> <br />
              <%= user_informations_form.check_box :immediate_intervention %> <br />
          </div>

          <div class="control-group">
            <p><%= user_informations_form.label "date d'intervention", :class => "control-label" %></p>
            <%= user_informations_form.datetime_select :intervention_date, :class => "input-xlarge form-control" %>
            <span id="helpBlock3" style="text-align:left" class="help-block error"><%= @user_informations_form.errors[:intervention_date][0] %></span>
          </div>

          <div class="form-actions">
            <%= user_informations_form.submit :class => "btn btn-primary" %>
          </div>
          <p>

        </fieldset>
      <% end %>
    </div>
  </div>
</div>
