%footer#footer-page
	.join-us
		%i Nous joindre
		%i.number 07.83.71.74.61
		%i.number contact@depannologue.fr
	.social
		= link_to "#" do
			%i.fb.icon-facebook-f
		= link_to "#" do
			%i.tw.icon-twitter
		= link_to "#" do
			%i.gp.icon-google-plus
	.legals
		%i
			= link_to "CGV", "#"
		%i
			= link_to "Mentions légales", "#"
		%p DEPANNOLOGUE - Euratechnologies LILLE