!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %title Depannologue

    = stylesheet_link_tag 'pro', media: 'all'
    = csrf_meta_tags

    = yield :extra_head

  %body
    = render 'layouts/pro/header'
    = render 'layouts/flash_messages'
    - if content_for? :page_title
      = yield :page_title
    = yield
    = render 'layouts/pro/footer'

    // used for the menu navigation
    .overlay
    = yield :init_javascript_inline
    = javascript_include_tag 'pro/application'
    = yield :javascript_inline
