- content_for :title do
  Contactez un dépanneur en intervention rapide en serrurerie

- content_for :extra_head do
  = tag :meta, name: "description", content: "Laissez vos coordonnées pour une intervention rapide d'un dépanneur en serrurerie"
  %meta{:name => "robots", :content => "noodp,noydir"}/

  %meta{:content => "Demander une intervention du spécialiste serrurerie français en dépannage !", :property => "og:title"}/
  %meta{:content => "http://www.depannologue.fr/define_intervention", :property => "og:url"}/
  %meta{:content => "depannologue-logo-200x200.png", :property => "og:image"}/
  %meta{:content => "Demandez l'intervention d'un dépanneur rapide pour votre porte claquée ou verrouillée", :property => "og:description"}/
  %meta{:content => "fr_FR", :property => "og:locale"}/
  %meta{:content => "543890775761560", :property => "fb:page_id"}/
  %meta{:content => "Depannologue", :property => "og:site_name"}/
  %meta{:content => "website", :property => "og:type"}/

  %meta{:content => "summary_large_image", :name => "twitter:card"}/
  %meta{:content => "@depannologue", :name => "twitter:site"}/
  %meta{:content => "@depannologue ", :name => "twitter:creator"}/
  %meta{:content => "Intervention rapide d'un serrurier près de chez vous", :name => "twitter:title"}/
  %meta{:content => "Depannologue : demandez une intervention rapide en laissant vos coordonnées; votre serrurier rapide et pas cher chez vous", :name => "twitter:description"}/
  %meta{:content => "depannologue-logo-600x330.png", :name => "twitter:image"}/

#workflow.container

  %section#form-localize
  .row
    .col-md-6.col-md-offset-3.col-xs-12
      .step-head

      %h2 Remplissez vos coordonnées et obtenez le prix fixe de votre dépannage
      = form_for @address_form, url: intervention_type_post_child_new_path do |f|
        %p
        = f.label :firstname
        = f.text_field :firstname
        %p
        = f.label :lastname
        = f.text_field :lastname
        %p
        = f.label :address1
        = f.text_field :address1
        %p
        = f.label :address2
        = f.text_field :address2
        %p
        = f.label :zipcode
        = f.text_field :zipcode
        %p
        = f.label :city
        = f.text_field :city
        %p
        = f.label :phone_number
        = f.text_field :phone_number
        %p
        = f.submit
