- content_for :title do
  Dépannage porte claquée ou verrouillée sur Lille

- content_for :extra_head do
  = tag :meta, name: "description", content: "Faites dépanner par un serrurier votre porte claquée ou verrouillée. Dépannage rapide"
  %meta{:name => "robots", :content => "noodp,noydir"}/
  %meta{:content => "Le spécialiste français du dépannage rapide de porte claquée ou verrouillée", :property => "og:title"}/
  %meta{:content => "http://www.depannologue.fr/depannage", :property => "og:url"}/
  %meta{:content => "closed-blue-200x200.png", :property => "og:image"}/
  %meta{:content => "Dépannage rapide de votre porte claquée ou verrouillée par des professionnels de la serrurerie", :property => "og:description"}/
  %meta{:content => "fr_FR", :property => "og:locale"}/
  %meta{:content => "543890775761560", :property => "fb:page_id"}/
  %meta{:content => "Depannologue", :property => "og:site_name"}/
  %meta{:content => "website", :property => "og:type"}/

  %meta{:content => "summary_large_image", :name => "twitter:card"}/
  %meta{:content => "@depannologue", :name => "twitter:site"}/
  %meta{:content => "@depannologue ", :name => "twitter:creator"}/
  %meta{:content => "Dépannage rapide de porte claquée ou verrouillée", :name => "twitter:title"}/
  %meta{:content => "Depannologue : le premier site dédié aux portes verrouillées ou claquées; Dépannage rapide garanti par des professionnels de la serrurerie !", :name => "twitter:description"}/
  %meta{:content => "locked-blue-600x330.png", :name => "twitter:image"}/

#workflow.container

  = render 'steps'

  %section#form-intervention
    .row
      .col-md-6.col-md-offset-3.col-xs-12
        .step-head
          .title-step
            Sélectionnez votre intervention
        .avantages
          %ul
            %li
              %p
                %i.icon-check
                Prix fixe jour, nuit et week-end
            %li
              %p
                %i.icon-check
                Dépannage sous 30 minutes
            %li
              %p
                %i.icon-check
                Expert certifié et qualifié

        = simple_form_for [:client, current_intervention], url: wizard_path do |f|
          .door-selector
            -# = f.label :intervention_type_id
            = f.collection_radio_buttons(:intervention_type_id, InterventionType.all, :id, :short_description, boolean_style: :inline) do |b|
              %span.radio
                = b.label(class: ((b.value == current_intervention.intervention_type_id) ? 'is-active ' : '') + InterventionType.find(b.value).kind + ' js-intervention-kind') do
                  = b.radio_button
                  = b.text
          .clearfix
          .choose
            %a.button.blue.little#myBtn{:type => "button"} Comment choisir ?

          #myModal.modal.fade{:role => "dialog"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"} ×
                  %h4.modal-title Comment définir mon problème :
                .modal-body
                  .closed
                    .door
                      = image_tag ('closed-blue.png')
                    .text
                      %p
                        %span.blue Porte claquée non verrouillée :
                        votre porte n’est pas fermée à clé mais vous ne pouvez pas l’ouvrir de l’extérieur.
                  .locked
                    .door
                      = image_tag ('locked-blue.png')
                    .text
                      %p
                        %span.blue Porte fermée à clé :
                        votre porte est fermée à clé et vous ne pouvez pas l’ouvrir.
                  .more-info.text
                    .dropdown
                      = link_to "#", class: 'btn blue dropaction' do
                        %p.blue.accordeon Bon à savoir
                        %i.icon-chevron-down
                      .clearfix

                      .dropdown-aside
                        %p
                          Suite à l’ouverture de la porte, vous devrez montrer votre carte d’identité et un justificatif de domicile à votre serrurier pour prouver que vous êtes bien locataire ou propriétaire du logement.
                        %p
                          %span.blue Porte claquée :
                          Dans la majorité des cas votre serrurier ouvrira votre porte claquée sans faire de dommage à votre serrure. Cependant selon le modèle de votre serrure ou la sécurisation de votre porte, il se peut que le serrurier doive utiliser des techniques d’ouverture qui peuvent endommager votre cylindre ou serrure. Vous serez bien sûr prévenu avant l’intervention et aucun changement de tarif ne sera appliqué. Après l’ouverture de la porte, une proposition d’intervention complémentaire pour effectuer le changement de la pièce endommagée vous sera faite et vous serez libre d’accepter ou de refuser.
                        %p
                          %span.blue Porte verrouillée :
                          Même si votre porte est verrouillée, votre serrurier l’ouvrira rapidement dès son arrivée sur place. Cependant, il arrive que les techniques utilisées nécessitent d’endommager votre serrure ou cylindre. Après l’ouverture de votre porte, une proposition d’intervention complémentaire pour effectuer le changement de la pièce endommagée vous sera envoyée et vous serez libre d’accepter ou de refuser.
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} J'ai compris
          .clearfix

          .contact
            %p Pour toute autre intervention :
            = link_to "Contactez-nous 24H/24", "tel:0366726167", class: "button blue little"


          = render partial: 'help_carousel'
