%p= t('devise.mailer.reset_password_instructions.greeting', :recipient => @resource.email, :default => "Bonjour #{@resource.email}!")
%p= t('devise.mailer.reset_password_instructions.instruction', :default => "Une demande a été faite afin de réinitialiser votre mot de passe, pour cela suivez le lien ci-dessous.")
- if @resource.has_role? :customer
  - edit_password_url = edit_client_password_url(@resource, reset_password_token: @token, locale: I18n.locale, subdomain: 'www')
- elsif @resource.has_role? :contractor
  - edit_password_url = edit_pro_password_url(@resource, reset_password_token: @token, locale: I18n.locale, subdomain: 'pro')
- elsif @resource.has_role? :admin
  - edit_password_url = edit_admin_password_url(@resource, reset_password_token: @token, locale: I18n.locale, subdomain: 'admin')
%p= link_to t('devise.mailer.reset_password_instructions.action', :default => "Changez mon mot de passe"), edit_password_url
%p= t('devise.mailer.reset_password_instructions.instruction_2', :default => "Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cet email.")
%p= t('devise.mailer.reset_password_instructions.instruction_3', :default => "Votre mot de passe ne changera pas tant que vous n'aurez pas cliqué sur le lien ci-dessus pour en créer un nouveau.")
