%p= t('.greeting', :recipient => @resource.email, :default => "Bonjour #{@resource.email}!")
%p= t('.instruction', :default => "Une demande a été faite afin de réinitialiser votre mot de passe, pour cela suivez le lien ci-dessous.")
%p= link_to t('.action', :default => "Changez mon mot de passe"), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale)
%p= t('.instruction_2', :default => "Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cet email.")
%p= t('.instruction_3', :default => "Votre mot de passe ne changera pas tant que vous n'aurez pas cliqué sur le lien ci-dessus pour en créer un nouveau.")
